<%- include('../partials/header') %>


<main class="show">

  <div class="showDetails">

    <div class="leftShow">
      <div class="comments">
        Host Comments: <%= pickup.hostComments %>
      </div>
      <div class="timestampShow">
         Game Started: <%= pickup.createdAt %>
      </div>
      <div class="numPlayersShow">
        <%= pickup.numOriginalPlayers + pickup.rsvp.length %>
      </div>

    </div>
    <div class="rightShow">
      <div class="showMap">
        <%= pickup.location %>
      </div>
      <div class="directions">
        Directions
      </div>
    </div>

  </div>

<!-- join form -->

<form class="" action="/show/<%=pickup._id %>" method="POST">
  <!-- if user.id !== host.id show button, pass user.id into rsvp list -->
  <input type="submit" value="Join Pickup" >
</form>

<!-- comment form -->

<div class="commentForm">
  <form class="" action="/show/<%=pickup._id %>/comment" method="POST">
    <label for="">Your comment</label>
    <input type="text" name="info" value="Joe's crab shack">
    <input type="submit" value="Post Comment">
  </form>
</div>
<br>
<br>
  <div class="comments">
    Host Comments: <%= pickup.hostComments %>
    <br>

    Player Comments:  <%=   %>

  </div>

<%- include('../partials/footer') %>
