<%- include('../partials/header') %>


<main class="show">

  <div class="showDetails">

    <div class="leftShow">
      <div class="comments">
        Host Comments <%= pickup.hostComments %>
      </div>
      <div class="timestampShow">
         Game Started: <%= pickup.createdAt %>
      </div>
      <div class="numPlayersShow">
        <%= pickup.numOriginalPlayers + pickup.rsvp.length %>
      </div>
      <div class="playersJoined">
        <select class="playersJoined" name="Others Playing">
          <%= pickup.rsvp %>
        </select>
      </div>
    </div>
    <div class="rightShow">
      <div class="showMap">
        <%= pickup.location %>
      </div>
      <div class="directions">
        Directions
      </div>
    </div>

  </div>
<form class="" action="/show/<%=_id %>?_method=DELETE" method="DELETE">
  <input type="submit" value="Cancel Pickup" >
</form>

<%- include('../partials/footer') %>
