<%- include('../partials/header') %>


<main>
  <!-- forEach for all active pickups in sport -->
  <% pickup.forEach(function (p) { %>
  <a href="/pickups/p._id needs squids once func written">
  <div class="pickup">
    <div class="pickupMap">
      <%= p.location %>
    </div>
    <div class="timeStamp">
      <%= p.timestamps %>
    </div>
    <div class="numPlayers">
      <%= p.numOriginalPlayers + p.rsvp.length %>
    </div>
  </div>
  </a>
  <% }) %>

</main>


<%- include('../partials/footer') %>
