<%- include('../partials/header') %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJPsnFimaA4YhK6htIku8Cz0gM10FtA1I&callback=initMap"> </script>

<main>
  <!-- forEach for all active pickups in sport -->
  <% pickup.forEach(function (p) { ;%>
  <a href="/show/<%= p._id %>">
  <div class="pickup">
    <div class="rightNew">
      <div class="map">
        <div id="map"></div>
          <%function initMap(p) {
            var options = {
              zoom: 10,
              center: {lat: p.lat, lon: p.lon}
            }
            var map = new google.maps.Map(document.getElementById('map'), options);

            var markers = [{
              coords: {lat: p.lat, lng: p.lon },
              content: p.hostComments
            },
            ];
            for(var i = 0; i < 1; i++) {
              addMarker(markers[i]);
            }

           } %>





      </div>
    </div>
    <div class="timeStamp">
      Started: <%= p.createdAt %>
    </div>
    <div class="numPlayers">
      <span class="count">Players Joined: <%= p.numOriginalPlayers + p.rsvp.length %></span>
    </div>
  </div>
  </a>
  <% }) %>

</main>


<%- include('../partials/footer') %>
